* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
header {
  padding: 20px;
  margin: 0;
  background-color: #f9f9f9;
  color: #3f5592;
}

h1,
p {
  max-width: 1200px;
  font-weight: 500;
  margin: 10px auto;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
}
.imagery {
  min-height: 70vh;
  background-color: #e5e7eb;
}
.readings-container {
  background-color: #f9f9f9;
  padding: 25px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.readings {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 280px;
  width: 250px;
  text-align: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.288) 0px 5px 15px;
  padding: 12px 20px;
  background: linear-gradient(145deg, #ececec, #f9f9f9);
  transition: transform 0.3s, box-shadow 0.3s;
}

.readings:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
}

.readings-title {
  font-size: clamp(22px, 2vw, 28px);
  margin: 0 5px;
  color: #3f5592;
}

.readings-value {
  font-size: clamp(20px, 1.5vw, 25px);
  margin: auto 0;
  color: #333;
}

@media (min-width: 40em) {
  .readings-container {
    justify-content: space-around;
  }
  .readings {
    flex: 1 1 250px;
  }
}

.live-stream {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;
  background-color: #e5e7eb;
  width: 100%;
  height: auto;
}

.live-stream iframe {
  width: 100%;
  min-height: 70vh;
  max-width: 1200px;
  border: none;
}
#map {
  height: 500px;
  width: 100%;
}

